<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869095782735-3lvc8hhvt86aeif2i7dvgsn0hl0khsh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869095782735-3lvc8hhvt86aeif2i7dvgsn0hl0khsh0</string>
	<key>API_KEY</key>
	<string>AIzaSyAWLTJst0NaaLlAz8YTQmERTwzqCNZfzyY</string>
	<key>GCM_SENDER_ID</key>
	<string>869095782735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piotrbrus.done</string>
	<key>PROJECT_ID</key>
	<string>done-939ae</string>
	<key>STORAGE_BUCKET</key>
	<string>done-939ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869095782735:ios:bf4f21067001332756ed3a</string>
</dict>
</plist>